@charset "UTF-8";
#img-perfil{
	border-radius: 50%;
    width: 14rem;
    height: 14rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.nombre{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}
#nombres{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height:100%;
}
