@charset "UTF-8";
body{
	font-family: "Source Sans Pro";
}
.bolder{
	font-weight: bold;
}
.conceptos{
font-size: 1.125em;
}
.inLine{
	display: inline-block;
}
.fw-g{
	font-weight: 300;
}
.bolder{
	font-weight: bold;
}
.hr-remuneracion{
	border-top: 1px solid rgb(203, 184, 116););
}
.l-h{
	line-height: 15px;
}
.alt{
	height: 250px;
}
@media screen and (max-width: 991px) {
  .alt{
	height: 330px;
}
}

@media screen and (max-width: 640px) {
  	#img-perfil{
	margin-top: 110px;
	margin-bottom: 10px;
	}
	.alt{
	margin-bottom: 100px;
}
}

